*{
  margin:0px;
  padding:0px;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
}
.header{
  width : 100vw;
  height : 50px;
  margin:auto;
  margin-top:10px;
  display:flex;
  justify-content:center;
  align-items:center;

  .contain{
    width:94%;
    height:100%;
    border-radius:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#E4E0E1;
    padding:10px;
    padding-left:18px;
  }
}

.contain-left{
  flex-grow:1;
  height:100%;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  .menu{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    color:#AB886D;
  }
}
.contain-center{
  flex-grow:1;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  .logo{
    font-family: "Bebas Neue", sans-serif;
    font-size:30px;
    font-weight:800;
    color:#ff7c37;
    letter-spacing:2px;
    font-kerning:auto;
  }
}
.contain-right{
  flex-grow:1;
  height:100%;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  .meAvatae{
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    color:#AB886D;
    border-radius:100px;
    img{
      height:inherit;
      width:inherit;
      border-radius:100px;

    }
  }
}



